
<div class="panel panel-primary">
  <div class="panel-heading">Motto</div>
  <div class="panel-body">
    <br>
    <div class="row">
      <div class="col col-md-2">
        <div>
          <img src="../../../../assets/images/einstein.jpg" alt="">
        </div>
      </div>
      <div class="col col-md-10">
          <p>
              “It is not that I'm so smart. But I stay with the questions much longer.” 
          </p>
          <div>― Albert Einstein</div>
      </div>
    </div>    
  </div>
</div>

