<div class="panel panel-primary">
  <div class="panel-heading">My Profile</div>
  <div class="panel-body">
    <div class="row">
      <div class="col col-md-4">
        <div>
            Centizen
        </div>
      </div>
      <div class="col col-md-8">
          USA
      </div>
    </div>    

    <div class="row">
      <div class="col col-md-4">
        <div>
            Email
        </div>
      </div>
      <div class="col col-md-8">
          enochkuang@gmail.com
      </div>
    </div> 

    <div class="row">
      <div class="col col-md-4">
        <div>
            Phone
        </div>
      </div>
      <div class="col col-md-8">
          (904) 699-7716
      </div>
    </div> 

    <div class="row">
      <div class="col col-md-4">
        <div>
            Educaton
        </div>
      </div>
      <div class="col col-md-8">
          BA,MA (in China)
      </div>
    </div>
        
    <div class="row">
      <div class="col col-md-4">
        <div>
            Certificate
        </div>
      </div>
      <div class="col col-md-8">
          MCSD
      </div>
    </div> 
    <div class="row">
      <div class="col col-md-4">
        <div>
            Hobbits
        </div>
      </div>
      <div class="col col-md-8">
          Reading history books, Tennis, Pingpong, Travelling, Cooking
      </div>
    </div> 

  </div>
</div>