<section class="section-hero">    
    <header>
        <div class="myPortrait">
            <img src="./assets/images/EnochPortrait.jpg" alt="Enoch Kuang" class="portrait">
            <a class="navbar-brand" routerLink="/">Enoch Kuang</a>
        </div>
    </header>
</section>

<div class="outer">
    
    <div class="panel panel-primary">
        <div class="panel-heading">
          Client Login
        </div>
        <div class="panel-body">

      <div class="row">
        <div class="col col-md-6">
          <div>
            <img src="../../assets/images/woman-typing-writing-windows.jpg" alt="" width="100%">
          </div>
        </div>
        <div class="col col-md-3 col-md-offset-1">
                    <br><br>
                    <form novalidate>
                        <fieldset>
                          <div class="form-group">
                            <label>User ID</label>
                            <input type="text"
                                  class="form-control">
                        </div>    
                      
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password"
                                class="form-control">
                        </div>
                      
                        <div class="form-group">
                          <input type="submit" class="btn btn-primary" value="Login">
                        </div>
                      </fieldset>
                      </form>
                    
                </div>
              </div>
            
            </div>
          </div>
      </div>