<div class="container-full">
<section class="section-hero">
  <app-hero></app-hero>
</section>
<section class="section-skills"> 
    <div class="panel panel-defualt">
        <div class="panel-heading">
            <h3>My Skills</h3>                
        </div>
        <div class="panel-body">
                <skills></skills>
        </div>
    </div>   
</section>
<section class="section-work">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Work Experiences</h3>            
        </div>
        <div class="panel panel-body">
            <div class="row">
                <div class="col col-md-6 col-sm-12">
                    <workLocationMap></workLocationMap>    
                </div>
                <div class="col col-md-6 col-sm-12">
                    <workExperience></workExperience>                                
                </div>
            </div>
        </div>        
    </div>  
</section>
<section class="section-otherInfo">
    <div class="row">
        <div class="col col-md-4">
            <motto></motto>
        </div>
        <div class="col col-md-4">
            <basicInfo></basicInfo>
        </div>
        <div class="col col-md-4">
          <aboutThisSite></aboutThisSite>
        </div>
    </div>    
</section>
</div>