<div class="panel panel-primary">
    <div class="panel-heading">About Site: Tech & Efforts(%)</div>
    <div class="panel-body">

        <div class="row">
          <div class="col col-md-7">
              <chart [type]="type" [data]="data" [options]="options" width="100%"></chart>
          </div>
          <div class="col col-md-5">

            <table class="table table-condensed">
              <thead></thead>
              <tbody>
                <tr>
                  <td>Angular 4</td>
                  <td>30%</td>
                </tr>
              <tr>
                <td>Web Design & CSS</td>
                <td>30%</td>
              </tr>
              <tr>
                <td>Chartjs</td>
                <td>6%</td>
              </tr>
              <tr>
                  <td>Firebase</td>
                  <td>4%</td>
                </tr>
              <tr>
                <td>Mobile</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>Testing</td>
                <td>12%</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>

    </div>
</div>

