<header>  
    <div class="row">
      <div class="col col-md-12">
          <a class="navbar-brand" routerLink="/"><img src="./assets/images/EnochPortrait.jpg" alt="Enoch Kuang" class="portrait">Enoch Kuang</a>       
      </div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col col-md-12 col-md-offset-2">
          <div class="hero-text-box">            
            <blockquote>
              <h1>
                  First, solve the problem. Then, write the code. <cite>John Johnson</cite>
              </h1>
            </blockquote>  
            <br><br>     
            <h3><i class="ion-happy-outline"></i>&nbsp;I Am A Senior .Net/JavaScript Developer. <br>How Can I Help You?</h3>
            <a class="btn btn-header-primary">Hire Me</a>
            <a class="btn btn-header-second" routerLink="/Portfolio">My Portfolio</a>     
          </div>
      </div>
  </div>   
</header>
