<section class="section-hero">
    
    <header>
        <div class="myPortrait">
            <img src="./assets/images/EnochPortrait.jpg" alt="Enoch Kuang" class="portrait">
            <a class="navbar-brand" routerLink="/">Enoch Kuang</a>
        </div>
    </header>


</section>

<div class="outer">

    <div class="panel panel-primary">
        <div class="panel-heading">
          Contact me
        </div>
        <div class="panel-body">
        <div class="row">
          <div class="col col-md-6">
            <div>
              <img src="../../assets/images/macbook-laptop-159417.jpeg" alt="" width="100%">
            </div>
          </div>
          <div class="col col-md-6">
        
                <form novalidate>
                    <fieldset>
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text"
                              class="form-control">
                      </div>
                  
                      <div class="form-group">
                        <label>Company</label>
                        <input type="text"
                              class="form-control">
                      </div>
                    </fieldset>
                  
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email"
                            class="form-control">
                    </div>
                  
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="phone"
                            class="form-control">
                    </div>
                  
                    <div class="form-group">
                      <label>Message</label>
                      <textarea ></textarea>
                    </div>
                  </form>
                
            </div>
          </div>
        
        </div>
      </div>
  </div>

  