.outer {
    padding: 0.5em;
}

.inner {
    height: 40vh;
}

.knowledgeBaseList {
    list-style: none;
}

.knowledgeBaseList li {
    display: inline;
    list-style-type: none;
}

header {    
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(/assets/images/pexels-photo-552598.jpeg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-size: 100% 100%;
}

.myPortrait {
    float: left;
    position: relative;
    width: 100%;
    margin: 40px 0 0 40px;
}

.myPortrait img {
    float: left;
    width: 55px;
    height: 55px; 
    border-radius: 50%;
}

.myPortrait a {
    margin-right: 150px;
    color: #fff;
    font-size: 150%;
    font-weight: 200;
}