<section class="section-hero">    
    <header>
        <div class="myPortrait">
            <img src="./assets/images/EnochPortrait.jpg" alt="Enoch Kuang" class="portrait">
            <a class="navbar-brand" routerLink="/">Enoch Kuang</a>
        </div>
    </header>
</section>

<section class="section section-knowledge">
    <div class="outer">
        <div class="panel panel-primary">
            <div class="panel panel-heading">Portfolio</div>
            <div class="panel panel-body">
  
              <div class="inner">
                
              </div>
            </div>
          </div>
    </div>    
  </section>
