<section class="section-hero">
    
    <header>
        <div class="myPortrait">
            <img src="./assets/images/EnochPortrait.jpg" alt="Enoch Kuang" class="portrait">
            <a class="navbar-brand" routerLink="/">Enoch Kuang</a>
        </div>
    </header>


</section>
<section class="section section-knowledge">
  <div class="outer">
      <div class="panel panel-primary">
          <div class="panel panel-heading">Knowledge Base</div>
          <div class="panel panel-body">

            <div class="inner">
              <ul class="knowledgeBaseList">
                <li>
                  <span class="label">
                    <img src="../../assets/images/javascript-36f5949a45.png" alt="JavaScript">
                  </span>
                  <span class="filelink">
                    <a href="https://coggle.it/diagram/WY96vRw4_AAB66Hy" target="_blank">JavaScript</a>
                  </span>
                </li>
                <li>
                    <span class="label">
                        <img src="../../assets/images/angularjs-logo-150x150.png" alt="Angular">
                      </span>
                      <span class="filelink">
                        <a href="https://coggle.it/diagram/WZMzM172xwABBQDP" target="_blank">Angular 4</a>
                      </span>
                </li>
                <li>
                    <span class="label">
                        <img src="../../assets/images/ASP-NET-LOGO-300x300.png" alt="Angular">
                      </span>
                      <span class="filelink">
                        <a href="https://coggle.it/diagram/WZHbQgkDKgABHuqc" target="_blank">Asp.Net</a>
                      </span>
                </li>
                <li></li>
                <li></li>
              </ul>            
            </div>
          </div>
        </div>
  </div>    
</section>
